<launch>

    <arg name="localization" default="true" />
    <arg name="map_name" default="pasillo_patio.yaml" />
    <arg name="slam" default="false" />
    <arg name="CNN" default="true" />
    <arg name="markers" default="true" />

    <!-- HARDWARE -->
    <include file="$(find descentralized_bringup)/launch/hardware.launch" />

    <!-- SOFTWARE -->
    <include file="$(find descentralized_bringup)/launch/software.launch">
        <arg name="localization" value="$(arg localization)" />
        <arg name="map_name" value="$(arg map_name)" />
        <arg name="slam" value="$(arg slam)" />
        <arg name="CNN" value="$(arg CNN)" />
        <arg name="markers" value="$(arg markers)" />
    </include>

    <!-- RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_marker)/rviz/slam_marker.rviz" />

</launch>